RT
*.orig
frameworks/
sdl_include/
*.swp
*.dSYM
MF_SRC
.DS_Store
.vscode/
*.[oad]
build/
challenge*
test
libsdl2/include/SDL_config.h
libsdl2/Makefile
libsdl2/Makefile.rules
libsdl2/config.log
libsdl2/config.status
libsdl2/libtool
libsdl2/sdl2-config
libsdl2/sdl2-config-version.cmake
libsdl2/sdl2-config.cmake
libsdl2/sdl2.pc
libsdl2/include/SDL_revision.h
tags
*._
